body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}


.form-control {
    max-width: 300px;
    padding: 20px;
    width: 100%;
}

#buttonLogin {
    max-width: 300px;
}

#LabelLoginFailed {
    color: red;
}
